/* Fonts import */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* Shared styles */

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: normal;
}

.text-center {
  text-align: center;
}

.display-flex {
  display: flex;
}
/* dark 2 */
.text-gray {
  color: #424242;
}
/* dark 3 */
.text-light-gray {
  color: #727272;
}
/* primary color */
.primary-yellow {
  color: rgb(255, 144, 14);
}
/* background color */
.bg-light {
  background-color: rgba(255, 144, 14, 0.1);
}

/* Button */
.btn-primary {
  background-color: rgb(255, 144, 14);
  color: #ffff;
  font-size: 1.25rem;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  padding: 20px 25px;
}
/* Header styles */

/* Navbar styles */
.navbar {
  justify-content: space-between;
  align-items: center;
}
.brand {
  font-size: 3rem;
  font-weight: 700;
  color: rgb(19, 19, 19);
}
.nav-links {
}
.nav-item {
  list-style: none;
  margin-left: 30px;
}

.nav-link {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}
.navbar,
.banner,
main {
  max-width: 1440px;
  margin: 0 auto;
}

/* banner related styles */
.banner-content {
  max-width: 862px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.banner-title {
  font-size: 4rem;
  font-weight: 700;
}

.banner-description {
  font-size: 1rem;
}

.banner-image {
  width: 100%;
  margin-bottom: 45px;
}
/* main section style */
/* teams section */
.teams {
  align-items: center;
  gap: 73px;
  margin-top: 5.31rem;
  margin-bottom: 8.125rem;
}

.team-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.our-features {
  max-width: 537px;
  max-height: 304px;
}
.feature-title {
  font-weight: 700;
  font-size: 2.8rem;
}
.weight-500 {
  font-weight: 500;
}

/* responsive media query */
@media screen and (max-width: 576px) {
  .navbar,
  .nav-links {
    flex-direction: column;
  }
}
